# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/dist
/build

# misc
.DS_Store
.env
.env.*.local
.vscode
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# optional: Firebase
.firebase/
.firebaserc


server/firebase-service-account.json

server/*.json

# Firebase service account (local only)
apps/server/secrets/*
*.service-account.json
.vercel

node_modules
dist
.env*
!.env.example
service-account*.json

.vercel
